.social-link-item {
  font-size: 3rem;
  margin: 2rem;
  padding: 1.5rem 1.5rem 1.1rem 1.5rem;
  text-align: center;
  border-radius: 50%;
  box-shadow: 0.5rem 0.5rem 2.5rem 0 rgba(0, 0, 0, 0.4);
  animation: Rotate 5s linear infinite; }
  @media (max-width: 900px) {
    .social-link-item {
      display: inline;
      padding: 1.5rem 1.6rem 1.1rem 1.6rem; } }
  @media (max-width: 500px) {
    .social-link-item {
      margin: 1rem; } }

.social-link {
  text-decoration: none;
  color: #fff; }
