.MyPhoto{
    overflow: hidden;
    // padding: 2rem 0;
    display: block;
    display: flex;
    justify-content: center;
    &-tilt{
        width: 20rem;
        height: 20rem;
        position: relative;
        cursor: pointer;
        overflow: hidden;
        margin: 2.5rem;
        // margin-top: 5rem;
        border: 1rem solid #fff;
        box-shadow: .5rem .5rem 2.5rem 0 rgba(46,61,73,.4);
        border-radius: 50%;
        // animation: swirl-in-fwd 2s cubic-bezier(0,.94,0,1) both;
        @media (max-width: 1050px) {
            width: 18.5rem;
            height: 18.5rem;
        }
        @media (max-width: 970px) {
            width: 18rem;
            height: 18rem;
        }
        @media (max-width: 550px) {
            width: 20rem;
            height:20rem;
        }
        @media (max-width: 450px) {
            width: 24rem;
            height:24rem;
        }
        &__img{
            width: 100%;
            // filter: brightness(0.4);
            height: 100%;

            // border: 1rem solid #eee;
        }
        &-gradient{
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }
        &-text{
            position: absolute;
            font-size: 2.5rem;
            text-align: center;
            top: 50%;
            text-transform: uppercase;
            color: #fff;
            font-family: 'Montserrat', sans-serif;
            font-weight: bold;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }
}


// @keyframes swirl-in-fwd {
//     0% {
//       transform: rotateY(-5400deg) scale(0);
//       opacity: 0;
//     }
//     100% {
//       transform: rotateY(0) scale(1);
//       opacity: 1;
//     }
//   }
  
//   @keyframes roll-in-left {
//     0% {
//       transform: translateX(-800px) rotate(-540deg);
//       opacity: 0;
//     }
//     100% {
//       transform: translateX(0) rotate(0deg);
//       opacity: 1;
//     }
//   }