@import url('https://fonts.googleapis.com/css?family=Caveat:400,700|Luckiest+Guy');

.Home{
    background: url('./back.png') no-repeat ;
    background-size: cover;
    // background-color: #232323;
    min-height: 100vh;
    padding-bottom: 5rem;
}
.header-link{
    position: absolute;
    text-shadow: .1rem .1rem .5rem rgba(0,0,0,.2);
    top: 3rem;
    left: 5rem;
    font-size: 4rem;
    color: #444;
    text-decoration: none;
    // font-weight: bold;
    font-family: 'Montserrat', sans-serif;
    & span{
        font-weight: bold;
    }
}

.my-name{
    font-family: 'Luckiest Guy', cursive;
    text-transform: uppercase;
    // font-family: 'Permanent Marker', cursive;
    font-size: 5rem;
    text-shadow: .1rem .1rem 1rem rgba(0,0,0,.1);
    font-weight: 300;
    margin-top: 1rem;
    color: #444;
    letter-spacing: .4rem;
    text-align: center;
}
.my-tagline{
    text-align: center;
    font-size: 3.2rem;
font-family: 'Caveat', cursive;
margin-bottom: 3rem;
    color: #444;
}

.social-link-container{
    position: absolute;
    height: 100%;
    top: 0;
    right: 2rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
}