.pages {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    display: block;
    overflow: auto;
    &--home {
        text-align: center;
        height: 100%;
        background-image: linear-gradient(to right bottom, #ff5e57, #05c46b);
        // background-color: #fff;
        @media (max-width: 600px) {
            background-image: linear-gradient(to right bottom, rgba(#ff5e57, .2), rgba(#05c46b, .2)), url(../images/home1.png);
            background-size: cover;
            background-position: center;
            .bg-video {
                display: none;
            }
        }
    }
    &--about {
        background-image: linear-gradient(to right bottom, #2C3A47, #6D214F);
        background-size: cover;
        height: auto;
        display: none;
    }
}