@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700,800,900');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,
body {
    font-size: 62.5%;
    // background: url('./2-min.jpg') no-repeat center center ;
    // background-size: cover;
    @media (max-width: 997px) {
        font-size: 55%;
    }
    @media (max-width: 700px) {
        font-size: 47%;
    }
    @media (max-width: 500px) {
        font-size: 41%;
    }
}